* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: hsl(217, 54%, 11%);
} 

p, h3 {
  color:hsl(0, 0%, 100%);
} 

h3 {
  font-family: 'Outfit', sans-serif;
}
p {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 300;
  color:hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
}

img {
  border-radius: 5px;
}

footer {
  display: grid;
  gap: 10px;
}

.ethe {
  color: hsl(178, 100%, 50%);
  font-family: 'Outfit', sans-serif;
}

.day {
  color:hsl(215, 51%, 70%);
}
.card {
  position: relative;
  top: 70px;
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
  margin: 0 auto;
  width: 300px;
  height: 550px;
}
.img img {
  max-width: 100%;
  padding: 5px;
}

.content {
  display: grid;
  padding: 10px;
  margin: 10px;
  gap: 30px;
}

.price {
  display: flex;
  gap: 50px;
}

.et-img {
  width: 10%;
}

.day-c {
  width: 20%; 
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
} 

.footer {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.footer span {
  color: white;
}

.img:is(:hover, :focus)::after {
  background-color: rgba(0, 255, 247, .4);

  background-image: url('../images/icon-view.svg');
  background-repeat: no-repeat;
  background-position: center;
}